<aside class="sidenav sidenav-header">
  <mat-form-field appearance="fill" class="field-group">
    <mat-label>Titulo</mat-label>
    <input matInput placeholder="Titulo">
  </mat-form-field>
  <mat-form-field class="field-group">
    <mat-label>Author</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="field-group">
    <mat-label>#Tag</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field-group">
    <mat-label>A partir</mat-label>
    <input [formControl]="dateStart"
           [matDatepicker]="dpStart"
           [max]="maxDate"
           [min]="minDate"
           matInput
           readonly>
    <mat-datepicker-toggle [for]="dpStart" matIconSuffix></mat-datepicker-toggle>
    <mat-datepicker #dpStart
                    (monthSelected)="setYearMonthStart($event, dpStart)"
                    panelClass="example-month-picker"
                    startView="multi-year">
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field class="field-group">
    <mat-label>Até</mat-label>
    <input [formControl]="dateEnd"
           [matDatepicker]="dpEnd"
           [max]="maxDate"
           [min]="minDate"
           matInput
           readonly>
    <mat-datepicker-toggle [for]="dpEnd" matIconSuffix></mat-datepicker-toggle>
    <mat-datepicker #dpEnd
                    (monthSelected)="setYearMonthEnd($event, dpEnd)"
                    panelClass="example-month-picker"
                    startView="multi-year">
    </mat-datepicker>
  </mat-form-field>
</aside>
