<cs-loading/>
<main>
  <h3 class="mt-15">Novo artigo</h3>
  <mat-stepper #stepper
               orientation="vertical"
               [linear]="true">
    <mat-step [stepControl]="formTitleUrl">
      <form [formGroup]="formTitleUrl"
            class="form">
        <ng-template matStepLabel>Titulo e URL da imagem para artigo</ng-template>
        <mat-form-field>
          <mat-label>Titulo</mat-label>
          <input type="text"
                 matTooltip="Título principal do artigo"
                 matTooltipPosition="above"
                 matInput
                 formControlName="title"
                 #title
                 placeholder="Título do artigo">
            <mat-error>{{ titleErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>URL</mat-label>
          <input type="url"
                 matTooltip="A URL deve termina com [jpg, jpeg, png, gif]"
                 matTooltipPosition="above"
                 matInput
                 formControlName="url"
                 placeholder="https://www.example.com">
          <mat-hint>Imagem do artigo</mat-hint>
            <mat-error>{{ urlErrorMessage() }}</mat-error>
        </mat-form-field>
        <div>
          <button mat-icon-button
                  color="primary"
                  matTooltip="Ir para o próximo passo"
                  matTooltipPosition="above"
                  matStepperNext>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formResume">
      <form [formGroup]="formResume" class="form">
        <ng-template matStepLabel>Resumo e Categoria</ng-template>
        <cs-select-tag [hasError]="true"
                       [tagFormControl]="tagFormControl"
                       [tags]="tags"
                       key="name"
                       value="name"></cs-select-tag>
        <mat-form-field class="field-textarea">
          <mat-label>Resumo</mat-label>
          <textarea matInput
                    formControlName="resume"></textarea>
        </mat-form-field>
        <div>
          <button mat-icon-button
                  color="primary"
                  matTooltip="Volta para o passo anterior"
                  matTooltipPosition="above"
                  matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button mat-icon-button
                  color="primary"
                  matTooltip="Ir para o próximo"
                  matTooltipPosition="above"
                  matStepperNext>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step class="form">
      <ng-template matStepLabel>Escreva o artigo</ng-template>
      <cs-article-ckeditor #articleCKEditor
                           [content]="contentArticle"
                           class="mt-15"/>
      <div class="field-flex">
        <button mat-icon-button
                color="primary"
                matTooltip="Ir para o próximo"
                matTooltipPosition="above"
                matStepperPrevious>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button
                matTooltip="Desfazer todos os passos"
                matTooltipPosition="above"
                color="warn"
                (click)="reset()">
          <mat-icon>restart_alt</mat-icon>
        </button>
        <button mat-icon-button
                matTooltip="Salvar artigo"
                matTooltipPosition="above"
                (click)="save()"
                color="accent">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</main>
