<div class="main">
  <header>
    <mat-toolbar class="header">
      <button mat-icon-button
              (click)="sidenav.toggle()"
              class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="link-wiki"
         [routerLink]="['/']">
        <h3>Sistem Wiki - UDF</h3>
      </a>
      <span class="example-spacer"></span>
      <button mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon">
        <mat-icon>code</mat-icon>
      </button>
      <button mat-icon-button class="example-icon"
              aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">
      Sidenav content
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer>
    <mat-toolbar class="footer">
      <span>Footer</span>
    </mat-toolbar>
  </footer>
</div>
