<div class="main-app">
  <header>
    <mat-toolbar class="header">
      <button mat-icon-button
              (click)="sidenav.toggle()"
              aria-label="Ocutar ou mostrar menu lateral">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="link-wiki"
         [routerLink]="['/']">
        <h3>System Wiki - UDF</h3>
      </a>
      <span class="spacer"></span>
      <button mat-icon-button
              [routerLink]="['article', 'new']"
              aria-label="Criar um novo artigo">
        <mat-icon>editor</mat-icon>
      </button>
      <a mat-icon-button
         class="link-github"
         aria-label="Github do projeto"
         href="https://github.com/leltonborges"
         target="_blank">
        <sc-icon [icon]="['fab', 'github']"
                 animation="fade"/>
      </a>
    </mat-toolbar>
  </header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      <cs-topic-navigation/>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="main-sidenav-content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer>
    <mat-toolbar class="footer">
      <span>Footer</span>
    </mat-toolbar>
  </footer>
</div>
