<div class="main-app">
  <header>
    <mat-toolbar class="header">
      <div class="header-home">
        <button aria-label="Home"
                matTooltip="Pagina inicial"
                (click)="sidenav.opened && sidenav.toggle()"
                mat-icon-button
                routerLink="/">
          <mat-icon>home</mat-icon>
        </button>
        <a [routerLink]="['/']"
           (click)="sidenav.opened && sidenav.toggle()"
           class="link-wiki">
          <h3>System Wiki - CS UDF</h3>
        </a>
      </div>
      <cs-search (click)="sidenav.opened && sidenav.toggle()"
                 (keydown)="handleKeyDown($event)"
                 *ngIf="!isMobile"
                 [modal]="isMobile"></cs-search>
      <div class="header-end">
        <button (click)="openModalSearch()"
                *ngIf="isMobile"
                mat-icon-button>
          <mat-icon class="icon-search">search</mat-icon>
        </button>
        <button (click)="sidenav.toggle()"
                aria-label="botão para filtrar artigos"
                mat-icon-button
                matTooltip="Filtrar artigos">
          <mat-icon>filter_alt</mat-icon>
        </button>
        <button (click)="sidenav.opened && sidenav.toggle()"
                [routerLink]="['article', 'new']"
                matTooltip="Criar um novo artigo"
                aria-label="Criar um novo artigo"
                mat-icon-button>
          <mat-icon>editor</mat-icon>
        </button>
        <a aria-label="Github do projeto"
           class="link-github"
           href="https://github.com/leltonborges/system-wiki"
           matTooltip="Github do projeto"
           mat-icon-button
           target="_blank">
          <sc-icon [icon]="['fab', 'github']"
                   animation="fade"/>
        </a>
      </div>
    </mat-toolbar>
  </header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav
                 [fixedInViewport]="desktopQuery.matches"
                 [mode]="desktopQuery.matches ? 'over' : 'over'"
                 position="end"
                 fixedTopGap="56">
      <cs-side-navigation [toggle]="sidenav"/>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer>
    <mat-toolbar class="footer">
      <span>Footer</span>
    </mat-toolbar>
  </footer>
</div>
