<div *ngIf="!isModal"
     [class.margin-desktop]="!isModal"
     class="input-search-desktop">
  <ng-container *ngTemplateOutlet="input"></ng-container>
  <mat-icon>search</mat-icon>
</div>

<div *ngIf="isModal" class="input-search-desktop">
  <ng-container *ngTemplateOutlet="input"></ng-container>
</div>

<ng-template #input>
  <input matTooltip="Escreva uma informação que deseja encontrar"
         placeholder="Busque aqui"
         [formControl]="inputSearch"
         type="text"/>
</ng-template>
