<mat-form-field class="full-width"
                matTooltip="Tag aplicada ao artigo"
                matTooltipPosition="right">
  <mat-label>#Tag</mat-label>
  <input #inputTag
         (focus)="filterTag()"
         (input)="filterTag()"
         [formControl]="tagFormControl"
         [matAutocomplete]="auto"
         matInput
         placeholder="Tag"
         type="text"/>
  <mat-autocomplete #auto="matAutocomplete" requireSelection>
    @for (tag of tagsOptions; track tag.id) {
      <mat-option [value]="tag[keyField]">{{ tag[valueField] }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
